<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Power Rewards</title>

		<link rel="shortcut icon" href="favicon.ico">
		<link type="text/css" href="/static/powerrewards/css/bootstrap.min.css" rel="stylesheet"> 
		<link href="/static/powerrewards/css/bootstrap-toggle.min.css" rel="stylesheet">
		<link href="/static/powerrewards/css/custom.css" rel="stylesheet">

		<script src="/static/powerrewards/js/jquery.min.js"></script>
		<script src="/static/powerrewards/js/bootstrap.min.js"></script>
		<script src="/static/powerrewards/js/bootstrap-toggle.min.js"></script>
		<script src="/static/powerrewards/js/fusioncharts.js"></script>
		<script src="/static/powerrewards/js/fusioncharts.charts.js"></script>
		<script src="/static/powerrewards/js/fusioncharts-jquery-plugin.min.js"></script>
		<script>
			access_token = "{{token}}";
		</script>

		<script src="/static/powerrewards/js/inc.js"></script>
	</head>
	<body class="mechanic">

		<div id="splash">
			<img src="/static/powerrewards/img/loading.gif" class="loading"/>
			<img src="/static/powerrewards/img/splash.jpg" class="splashImg"/>

		</div>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="/static/powerrewards/img/power_rewards_logo.png" alt="Power Rewards"></a>
            </div>

            <div class="pull-right" style="padding-top:15px;padding-right:15px;">
            	<input type="checkbox" id="checkbox" checked data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Mechanic" data-off="Retailer" onclick="changeRole(this)" disabled>
            </div>
            <!-- /.navbar-header -->
        </nav>
        <div id="page-wrapper_1" style="min-height: 600px;" class="tabDiv pageMechanic">
           
			<div class="container" style="margin-top:10px;">
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#mhome" class="mhome" showState="1" chartURL="mgetmonthwise">Registrations</a></li>
			    <li><a href="#mmenu1" class="mmenu1" showState="0" chartURL="mgetcouponwise" style="display:none;">Coupons on Platform</a></li>
			    <li><a href="#mmenu2" class="mmenu2" showState="1" chartURL="mgetcouponacc">Coupon Accumulation</a></li>
			    <li><a href="#mmenu3" class="mmenu3" showState="1" chartURL="mgetcouponredm">Coupon Redemption</a></li>
			    <li><a href="#mmenu4" class="mmenu4" showState="1" chartURL="mgetmonthwiseactive">Monthly Active</a></li>
			    <li><a href="#mmenu5" class="mmenu5" showState="1" chartURL="mgetmonthwiseinactive">Monthly Inactive</a></li>
			    <li><a href="#mmenu6" class="mmenu6" showState="1" chartURL="mgetproductfitment">Product Fitment</a></li>
			    <li><a href="#mmenu7" class="mmenu7" showState="1" chartURL="mgetuniqueproduct">Unique Product</a></li>
			    <li><a href="#mmenu8" class="mmenu8" showState="1" chartURL="mgetavgpoints">Average Points/Mechanic</a></li>
			  </ul>

				<div class="tab-content" style="background:#fff;min-height:600px;padding-top:10px;position:relative;">
					<div id="mhome" class="tab-pane fade in active" foruser="mechanic"></div>
					<div id="mmenu1" class="tab-pane fade" style="display:none;" foruser="mechanic"></div>
					<div id="mmenu2" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu3" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu4" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu5" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu6" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu7" class="tab-pane fade" foruser="mechanic"></div>
					<div id="mmenu8" class="tab-pane fade" foruser="mechanic"></div>
				</div>
			   
			</div>

        </div>
        <div id="page-wrapper_2" style="min-height: 600px;" class="tabDiv pageRetailer">
           
			<div class="container" style="margin-top:10px;">
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#rhome" class="rhome" showState="1" chartURL="rgetmonthwise">Registrations</a></li>
			    <li><a href="#rmenu1" class="rmenu1" showState="0" style="display:none;" chartURL="rgetcouponwise"><b>Coupons on Platform</b></a></li>
			    <li><a href="#rmenu2" class="rmenu2" showState="1" chartURL="rgetcouponacc">Coupon Accumulation</a></li>
			    <li><a href="#rmenu3" class="rmenu3" showState="1" chartURL="rgetcouponredm">Coupon Redemption</a></li>
			    <li><a href="#rmenu4" class="rmenu4" showState="1" chartURL="rgetmonthwiseactive">Monthly Active</a></li>
			    <li><a href="#rmenu5" class="rmenu5" showState="1" chartURL="rgetmonthwiseinactive"><b><i>Monthly Inactive</i></b></a></li>
			    <li><a href="#rmenu6" class="rmenu6" showState="1" chartURL="rgetproductfitment">Product Fitment</a></li>
			    <li><a href="#rmenu7" class="rmenu7" showState="1" chartURL="rgetuniqueproduct">Unique Product</a></li>
			    <li><a href="#rmenu8" class="rmenu8" showState="1" chartURL="rgetavgpoints">Average Points/Retailer</a></li>
			  </ul>

			<div class="tab-content" style="background:#fff;min-height:600px;padding-top:10px;position:relative;">
				<div id="rhome" class="tab-pane fade in active" foruser="retailer"></div>
				<div id="rmenu1" class="tab-pane fade" style="display:none;" foruser="retailer"></div>
				<div id="rmenu2" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu3" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu4" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu5" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu6" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu7" class="tab-pane fade" foruser="retailer"></div>
				<div id="rmenu8" class="tab-pane fade" foruser="retailer"></div>
			</div>
			   
			</div>

        </div>
        <!-- /#page-wrapper -->

    	</div>

        <div id="loading">
            <div class="txt"></div>
            <div class="bg"></div>
        </div>
	</body>
</html>